@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
  overscroll-behavior-y: none;
  box-sizing: border-box;
}

/* input 기본 스타일 초기화 */
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #fff inset;
  -webkit-text-fill-color: #000;
}
